#root,html,body{
    height: 100vh;
}

body{
    margin: 0;
   background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
